@media print {
  .headroom,
  .bm-burger-button,
  .bm-overlay + div:before,
  .bm-overlay,
  footer,
  .theme-switch {
    @apply hidden !important;
  }

  body,
  header,
  .headroom {
    @apply bg-white !important;
  }

  .dark * {
    @apply bg-white !important;
  }

  * {
    @apply text-gray-900 bg-transparent !important;
  }

  main {
    @apply p-0 m-0 !important;
  }
}

.__react_component_tooltip {
  @apply font-bold text-white uppercase bg-gray-600;
}


.__react_component_tooltip {
  color: #fff;
  background: #222;
  border: 1px solid transparent;
}

.__react_component_tooltip.place-top {
    margin-top: -10px;
}
.__react_component_tooltip.place-top::before {
    border-top: 8px solid transparent;
}
.__react_component_tooltip.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.place-bottom {
    margin-top: 10px;
}
.__react_component_tooltip.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.__react_component_tooltip.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.__react_component_tooltip.place-left {
    margin-left: -10px;
}
.__react_component_tooltip.place-left::before {
    border-left: 8px solid transparent;
}
.__react_component_tooltip.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.__react_component_tooltip.place-right {
    margin-left: 10px;
}
.__react_component_tooltip.place-right::before {
    border-right: 8px solid transparent;
}
.__react_component_tooltip.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}


.cvPage .theme-switch {
  @apply right-0 top-0 !important;
}
